{{> header }}

<center>

<h3 style="color:blue;">About US</h3> <br>
<img src="/images/lsu1.jpg" align="center" alt="Trulli" width="500" height="333">
<br>

<div class="container">
<p style="color:blue;" style="font-size:60px;">This is a course project for Software Engineering Class. </p>
<p style="color:blue;" style="font-size:60px;">Within this context user can easily look up pedestrian-related crash factors. </p>
</div>
</center>

{{> footer }}
