{{> header }}


<center>

<h3 style="color:blue;">Your Selected Document:</h3> <br>
<div style="height:600px;width:65%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
  This HTML scroll box has had color added. You can add <span style="background-color: yellow;">color</span> to the background of your scroll box. You can also add color to the scroll bars.
  </div>
  <a href="/wordcloud">Generate Word Cloud</a>
</center>

{{> footer }}