{{> header }}


<h3 style="color:blue;text-align:center">Your Selected Document:</h3> <br>
<div style="width:100%;height:550px">
<div style="margin-left:4.5%;float:left;height:550px;width:65%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
  {{> doc}}
  </div>
  
  {{#if keywords}}
          <table class="table table-hover table-bordered results" style="height:550px;float:right;width:25%;margin-right:4.5%;">
          <thead>
            <tr>
              <th id="first-col" class="col-sm-3">Rank</th>
              <th id="second-col" class="col-sm-3">Word</th>
              <th id="second-col" class="col-sm-3">Color</th>
            </tr>
          </thead>
          <tbody>
          {{#each keywords}}
            <tr>
              <th scope="row">{{inc @index}}</th>
              <td>{{this}}</td>
              <td class="key{{inc @index}}"></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        {{/if}}

</div>
<center>
  <br>
<a class="btn btn-primary" style="text-align:center" href="/wordcloud?id={{ id }}">Generate Word Cloud</a>
</center>
{{> footer }}