{{> header }}

<div class="container">
  <form class="login" action="/forgotpassword" method="POST">
    <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Username">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>

  {{> footer }}