{{> header }}
{{{flash}}}
<center>
<img src="/images/lsu.jpg" align="center" alt="Trulli" width="500" height="333">
<div style="padding-left:20px">

<h2>Welcome! We are here to help you to find matching papers with your interest! </h2>

<a class="btn btn-primary" href="/login" style="width:auto;">Login</a>
<a class="btn btn-primary" href="/register" style="width:auto;">Sign Up</a>
</center>



{{> footer }}