{{> header }}

<div class="container">
  <form class="login" action="/login" method="POST">
    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Enter email">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>

  {{> footer }}