{{> header }}

<div class="container">
  <form class="login" action="/resetpassword" method="POST">
    <div class="form-group">
    <input type="hidden" name="id" value="{{id}}">
	<input type="hidden" name="token" value="{{token}}">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
    <label>Confirm Password</label>
    <input type="password" class="form-control" name="passMatch" placeholder=" Confirm Password">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>

  {{> footer }}