{{> header }}

        <div class="search-container">
          <form method="post" action="/search">
            <input type="text" name="keyword" class="search-bar"></input>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
        <span class="counter pull-right"></span>
        <table class="result-table table table-hover table-bordered results">
          <thead>
            <tr>
              <th id="first-col" class="col-sm-3">#</th>
              <th id="second-col" class="col-sm-6">Document Title</th>
              <th id="second-col" class="col-sm-3">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><a href="/document">Development of Crash Modification Factors for Uncontrolled Pedestrian Crossing Treatments</a></td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><a href="/document">Second Document</a></td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><a href="/document">Third Document</a></td>
              <td><a href="#">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td><a href="/document">Fourth Document</a></td>
              <td><a href="#">Delete</a></td>
            </tr>
          </tbody>
        </table>
        <ul class="people_list">
            <li>{{{json docs.doc_0}}}</li>
        </ul>

{{> footer }}