<!doctype html>
<html lang="en">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css" />
    <body>
        <div>
            <input type="text"></input>
        </div>
        <span class="counter pull-right"></span>
        <table class="table table-hover table-bordered results">
          <thead>
            <tr>
              <th class="col-sm-4">#</th>
              <th class="col-sm-8">Document Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>First Document</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Second Document</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Third Document</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Fourth Document</td>
            </tr>
          </tbody>
        </table>
    </body>
</html>