.key1 {
    background-color: #ff0000b0;
}
.key2 {
    background-color: #ffa500d1;
}
.key3 {
    background-color: yellow;
}
.key4 {
    background-color: #008000a0;
}
.key5 {
    background-color: blue;
    color: white;
}
.key6 {
    background-color: #8e2a8ea1;
}
.key7 {
    background-color: pink;
}
.key8 {
    background-color: skyblue;
}
.key9 {
    background-color: silver;
}
.key10 {
    background-color: navy;
    color: white;
}