.search-container{
    margin: 0 auto;
    text-align: center;
}

.search-bar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.counter{
    padding:8px; 
    color:#ccc;
}

.result-table{
    width: 75% !important;
    margin-left: auto; 
    margin-right: auto;
}

#first-col, #second-col, #third-col{
    width: auto;
}